
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="content">
    @Html.Action("CategoriesMenu")
    <section id="rightContent">
        @Html.Partial("_BookList")
    </section>
</section>