
@{
    ViewBag.Title = "OrderConfirm";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Order Confirm
    }

<div style="margin-top: 100px; text-align:center">
    Your Order has been sent. Thank You!
</div>

