* {
    margin: 0 auto;
}

body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 65%;
    height: 880px;
    border: 4px solid orange;
    box-shadow: 0 0 7px 7px gray;
    border-radius: 15px 15px 15px 15px;
}
/* HEADER*/
.header {
    position: relative;
    width: 100%;
    height: 150px;
}
.hidden {
    display:none;
}

.invisible {
    visibility: hidden;
}

#banner {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: ivory;
}

#bannerText {
    font-family: Impact;
    font-size: 50px;
    font-weight: 100;
    color: rgba(143, 10, 10, 1);
    text-transform: capitalize;
    font-style: oblique;
    text-decoration: underline overline;
    line-height: 2em;
    letter-spacing: 0.8px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

#cart {
    background-image: url("/Content/Images/Header/shop-cart.png");
    background-size: 60px 40px;
    background-repeat: no-repeat;
    object-position: right;
    right: 20px;
    width: 60px;
    height: 40px;
    position: relative;
}

#menu {
    background-color: white;
    position: relative;
    height: 50px;
    width: 100%;
}

#menuLogIn {
    text-align: center;
    font-family: Impact;
    background-image: url("/Content/Images//Login/user.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
}

.menu_button {
    position: relative;
    left: 750px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    .menu_button:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    .menu_button:active {
        position: relative;
        top: 1px;
    }

/* HEADER*/

/*LEFT MENU - CATEGORIES*/
#content {
    border: 2px solid black;
    background-color: bisque;
    height: 680px;
}

ul {
    padding: 10px 10px 10px 10px;
    margin: 5px;
    width: 15%;
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
    line-height: 26px;
}

li {
    position: relative;
    padding: 10px 10px 10px 10px;
    width: 200px;
    font-family: Impact;
    text-align: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 1.5;
    border-bottom: 2px solid gray;
    border-right: 1px solid gray;
}

#categories {
    border-bottom: 2px solid gray;
    margin-left: 0px;
    width: 15%;
    padding-left: 40px;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    color: darkred;
    font-size: 35px;
}

a {
    color: darkred;
}

    a:link, visited {
        text-decoration: none;
        background-color: lightgray;
    }

    a:hover, active {
        color: cadetblue;
    }
/*LEFT MENU - CATEGORIES*/

/*MAIN CONTENT*/
#TitleAndAuthor {
    text-align:center;
    width:180px;
    font-weight:normal;
    font-size:13px;
}
#new {
    background-size:180px 210px;
    background-repeat:no-repeat;
    width: 180px;
    height: 210px;
    border: 2px solid gray;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}

#newIco {
    background-repeat: no-repeat;
    background-size: 60px 80px;
    width: 60px;
    height: 80px;
    position: relative;
    right: 60px;
}

#bestseller {
    
    background-size: 180px 210px;
    background-repeat: no-repeat;
    width: 180px;
    height: 210px;
    border: 2px solid gray;
    color: deepskyblue;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
}

#bestsellerIco {
    background-repeat: no-repeat;
    background-size: 60px 80px;
    width: 60px;
    height: 80px;
    position: relative;
    right: 60px;
}

#rightContent {
    padding: 10px 10px 10px 10px;
    font-family: Impact;
    color: olivedrab;
    position: relative;
    width: 70%;
    display: inline-block;
    float: right;
    position: relative;
    bottom: 50px;
    right:100px;
}

.buy_buttonIndex {
    position: relative;
    top: 5px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.buy_buttonIndex:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.buy_buttonIndex:active {
    position: relative;
    top: 4px;
}
/*MAIN CONTENT*/

/*FOOTER*/
footer {
    width: 100%;
    background-color: navajowhite;
    font-family: Impact;
    text-align: center;
    vertical-align: central;
    border-radius: 15px 15px 15px 15px;
}

#footerText {
    color: darkred;
    border: 2px solid gray;
    height: 40px;
}
/*FOOTER*/

/*BOOK*/
#book_description {
    display: inline-block;
    text-align: center;
}

#img {
    background-size: 200px 300px;
    background-repeat:no-repeat;
    width: 200px;
    height: 300px;
    display: inline-block;
    border:2px solid gray;
}

#imgBook{
    position:relative;
    background-size: 150px 250px;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    display: inline-block;
    border: 2px solid gray;
}

#price {
    margin-top: 30px;
    color: black;
    position: relative;
    bottom: 100px;
    right: 20px;
    font-size: 30px;
    color: green;
    border: 3px solid orange;
}

#description {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

#title {
    font-family: 'Book Antiqua';
    font-weight: bold;
}

.buy_button {
    position: relative;
    bottom: 70px;
    right: 20px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    .buy_button:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    .buy_button:active {
        position: relative;
        bottom: 69px;
    }

#bookCaption {
    position: relative;
    right: 60px;
}

/*BOOK*/
/*CART*/
#AaA {
    background-size: 60px 40px;
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;
    border: 2px solid #736f79;
}

#classic {
    background-image: url("/Content/Images/Cart/classic.png");
    background-size: 100px 70px;
    background-repeat: no-repeat;
    width: 100px;
    height: 70px;
    border: 2px solid #736f79;
}

#comic {
    background-image: url("/Content/Images/Cart/comic.png");
    background-size: 100px 70px;
    background-repeat: no-repeat;
    width: 100px;
    height: 70px;
    border: 2px solid #736f79;
}

#fantasy {
    background-image: url("/Content/Images/Cart/fantasy.jpg");
    background-size: 100px 70px;
    background-repeat: no-repeat;
    width: 100px;
    height: 70px;
    border: 2px solid #736f79;
}

#detective {
    background-image: url("/Content/Images/Cart/detective.png");
    background-size: 100px 70px;
    background-repeat: no-repeat;
    width: 100px;
    height: 70px;
    border: 2px solid #736f79;
}

h10 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 10px;
    margin-right: 50px;
}

#textPos {
    font-size: 20px;
    color: black;
}

.deleteButton {
    position: relative;
    top: 25px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    background-position: center;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    .deleteButton:hover {
        position: relative;
        top: 23px;
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    .deleteButton:active {
        position: relative;
        top: 23px;
    }

tr.bottomLine td {
    border-bottom: 1px solid gray;
}

caption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
}

#payButton {
    position: relative;
    top: 50px;
    right:80px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    width: 70px;
    height: 25px;
    text-align: center;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    #payButton:hover {
        position: relative;
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
        top: 51px;
        right: 80px;
    }

    #payButton:active {
        position: relative;
        top: 51px;
        right: 80px;
    }
/*CART*/

/*Categories*/

#bookCategories {
    background-repeat: no-repeat;
    background-size: 80px 110px;
    border: 2px solid black;
    width: 80px;
    height: 110px;
    border: 2px solid gray;
    color: darkcyan;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin-top: 5px;
}

.buy_buttonCategories {
    position: relative;
    top: 10px;
    left: 15px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    .buy_buttonCategories:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
        top: 9px;
        left: 15px;
    }

    .buy_buttonCategories:active {
        position: relative;
        top: 9px;
        left: 15px;
    }
/*Categories*/
/*Loggin*/

#login-error {
    color: red !important;
    margin-top: 25px;
    text-align: center;
}

.submitLink {
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    cursor: pointer;
    text-align: right;
}
    .submitLink:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    .submitLink:active {
        
    }

#registerLink {
    position:relative;
    left:100px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

#registerLink :hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

#registerLink:active {
    position: relative;
    top: 1px;
}

#loginLink {
    position:relative;
    left:100px;
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    #loginLink :hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    #loginLink:active {
    }

#logoutForm {
    position:relative;
    left:50px;
}
/* ORDER*/
#submitButton {
    box-shadow: inset 0px 1px 0px 0px #e0d794;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border: 1px solid #91908e;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

    #submitButton:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    #submitButton:active {
        position: relative;
    }

/*ORDER*/
