@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <table>
            <tr>
                <td>@Html.ActionLink("Logged as " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</td>
                <td><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></td>
            </tr>
        </table>
    }
}
else
{
    <table>
        <tr>
            <td>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</td>
            <td>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</td>
        </tr>
    </table>
}
