@{ 
    ViewBag.Title = "ReadIt - Your Book Partner";
}
        <section id="content">
            <p id="categories">Categories</p>
            <ul>
                <a href="Index.html">
                    <li>
                        Action and Adventure
                    </li>
                </a>

                <a href="Index.html">
                    <li>
                        Classics
                    </li>
                </a>

                <a href="Index.html">
                    <li>
                        Comic Book
                    </li>
                </a>

                <a href="Index.html">
                    <li>
                        Detective and Mystery
                    </li>
                </a>

                <a href="Index.html">
                    <li>
                        Fantasy
                    </li>
                </a>
            </ul>

            <section id="rightContent">
                <table>
                    <caption>Main Page</caption>
                    <tr>
                        <td>
                            <h5 id="new">Title</h5>
                        </td>
                        <td>
                            <h5 id="new">Title</h5>
                        </td>
                        <td>
                            <h5 id="new">Title</h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5 id="bestseller">Title</h5>
                        </td>
                        <td>
                            <h5 id="bestseller">Title</h5>
                        </td>
                        <td>
                            <h5 id="bestseller">Title</h5>
                        </td>
                    </tr>
                </table>
            </section>
        </section>